.app-variations {
  background-color: #f2f2f2;
  padding-top: 120px;
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: 0 -20px;

  &__table {

    border-collapse: collapse;
    text-transform: uppercase;
    background-color: @white;
    color: @navy;
  }

  td {
    position: relative;
    border: solid 2px #e5e5e5;
    min-width: 280px;
    text-align: center;
    padding: 20px 0;
  }

  &__table-row-1 {
    background-color: @navy;
    color: @white;

    & td:first-of-type {
      background-color: #f2f2f2;
      border: none;
    }

     & h3 {
      margin: 0;
      text-transform: uppercase;
      font-size: 16px;
    }

    & span {
      display: block;
      font-size: 24px;
      font-weight: 200;
    }
  }

  &__flag-hit {
    position: absolute;
    width: 61px;
    height: 61px;
    background: url("../img/bg-hit-tablet.svg") no-repeat 0 0;
    top:0;

    &:before {
      position: absolute;
      display: block;
      content:"хит";
      text-transform: uppercase;
      transform: rotate(-43deg);
      right: 27px;
      top: 3px;
    }
  }
}

@media (min-width: @tablet-width) {
  .app-variations {

    width: @tablet-width;
    margin: 0 auto;
    padding-top: 100px;

    &__table {
      text-transform: none;
      width: 620px;
      margin: 0 auto;
    }

    &__table-row-1 span {
      font-size: 18px;
    }

    td {
      min-width: 155px;
    }
  }

  &__flag-hit {
    position: absolute;
    width: 74px;
    height: 73px;
    background: url("../img/bg-hit.svg") no-repeat 0 0;
  }
}

@media (min-width: @desktop-width) {
  .app-variations {

    width: auto;
    &__table {
      width: 940px;
    }
  }
}

