.app-features {
  position: relative;
}

.app-features__wrapper {
  min-height: 1005px;
}

.app-features__img:nth-child(1),
.app-features__img:nth-child(2) {
  display: none;
}

.app-features__header {
  display: flex;
  flex-direction: column;
  width: 215px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 24px;
  color: @navy;
  font-weight: lighter;
  text-align: center;
}

.app-features__header b {
  margin-top: 27px;

  font-weight: normal;
}

.app-features::before {
  position: absolute;
  top: 165px;

  width: @tablet-only;
  height: 94px;

  content: "";
  background: url("../img/bg-triangle-white.svg") no-repeat 0 -25px;
}


.app-features__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 315px;

  background-color: #f2f2f2;

  .list-prevent();
}

.app-features__item {
  width: 265px;
  margin: 0 auto;
  margin-bottom: 35px;

  text-align: center;
}

.app-features__heading {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}

.app-features__paragraph {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: @navy;
}

@media (min-width: @tablet-width) {
  .app-features__wrapper {
    width: @tablet-c;
    min-height: 730px;
    margin: 0 auto;
  }

  .app-features__header {
    width: 593px;
    padding-top: 55px;
    padding-bottom: 30px;

    font-size: 40px;
    line-height: 50px;
  }

  .app-features::before {
    top: 230px;
    left: 10px;
  }

  .app-features__header b {
    width: 350px;
    margin: 0 auto;
  }

  .app-features__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: @tablet-width;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 0;
  }

  .app-features__paragraph {
    width: 305px;
  }

  .app-features__item {
    width: 320px;
    margin: 0;
    margin-bottom: 35px;
    margin-left: auto;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .app-features__wrapper {
    width: @desktop-c;
    min-height: 950px;
    margin: 0 auto;
  }

  .app-features::before {
    display: none;
  }

  .app-features__img:nth-child(1),
  .app-features__img:nth-child(2) {
    display: block;
  }

  .app-features__header {
    width: 760px;
    padding-top: 55px;
    padding-bottom: 170px;

    font-size: 50px;
    line-height: 50px;
  }

  .app-features b {
    width: 440px;
    margin: 0 auto;
  }

  .app-features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
  }

  .app-features__item {
    width: 260px;
  }

  .app-features__heading {
    width: 230px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .app-features__paragraph {
    width: 240px;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
