.app-features {
  position: relative;
}

.app-features__item:nth-of-type(1) .app-features__img,
.app-features__item:nth-of-type(2) .app-features__img {
  display: none;
}

.app-features__header {
  display: flex;
  flex-direction: column;
  width: 215px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 15px;

  font-size: 24px;
  color: @navy;
  font-weight: lighter;
  text-align: center;
}

.app-features__header b {
  margin-top: 27px;

  font-weight: normal;
}

.app-features__list {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-top: 95px;

  list-style: none;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 -52px;
}


.app-features__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 265px;
  margin: 0 auto;
  margin-bottom: 25px;

  text-align: center;

  &:last-of-type {
    margin-bottom: 0;

    & .app-features__paragraph {
      margin-bottom: 40px;
    }
  }
}

.app-features__heading {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;

  order: 1;
}

.app-features__img {
  height: 278px;

  order: 3;
}

.app-features__paragraph {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: @navy;

  order: 2;
}

@media (min-width: @tablet-width) {
  .app-features__wrapper {
    width: @tablet-c;
    min-height: 730px;
    margin: 0 auto;
  }

  .app-features__header {
    width: 593px;
    padding-top: 45px;
    padding-bottom: 30px;

    font-size: 40px;
    line-height: 50px;
  }

  .app-features__header b {
    width: 350px;
    margin: 0 auto;
  }

  .app-features__img {
    position: absolute;
    top: 10px;
    left: 0;

    width: 268px;
    height: 481px;
  }

  .app-features__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: @tablet-width;
    margin: auto;
    padding-top: 85px;
    padding-bottom: 0;

    background-position: 0 -30px;
  }

  .app-features__paragraph {
    width: 305px;
  }

  .app-features__item {
    display: block;
    width: 320px;
    margin: 0;
    margin-bottom: 35px;
    margin-left: auto;

    text-align: left;
  }

  .app-features__item:last-of-type {
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .app-features__wrapper {
    width: 1200px;

    background-color: @gray;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .app-features::before {
    display: none;
  }

  .app-features__img {
    top: 0;
    left: -20px;

    width: 292px;
    height: 302px;
    margin-bottom: 50px;
  }

  .app-features__item:nth-of-type(3) .app-features__img {
    left: -10px;
  }

  .app-features__img:nth-child(1),
  .app-features__img:nth-child(2) {
    display: block;
  }

  .app-features__header {
    width: 760px;
    padding-bottom: 80px;

    font-size: 50px;
    line-height: 60px;
  }

  .app-features b {
    width: 440px;
    margin: 0 auto;
  }

  .app-features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 890px;
    padding-top: 0;

    background-color: rgba(0, 0, 0, 0);
    background-image: none;

    &::before {
      display: none;
    }
  }

  .app-features__item {
    position: relative;

    width: 260px;
    margin: 0;
  }

  .app-features__heading {
    width: 230px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .app-features__paragraph {
    width: 240px;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
