.app-variations {
  width: 280px;
  padding-top: 120px;

  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 -20px;

  &__table {
    position: relative;

    display: flex;
    overflow: hidden;
    width: 320px;

    color: @navy;
    text-transform: uppercase;

    border-collapse: collapse;
    background-color: @white;

    flex: 1 0;
  }

  td {
    position: relative;

    min-width: 210px;
    padding: 20px 0 20px 10px;

    text-align: left;

    border: solid 2px #e5e5e5;
  }

  &__table-row-1 {
    color: @white;

    background-color: @navy;

    & td:first-of-type {
      border: none;
      background-color: #f2f2f2;
    }

    & h3 {
      margin: 0;

      font-size: 16px;
      text-transform: uppercase;
    }

    & span {
      display: block;

      font-size: 24px;
      font-weight: 200;
    }
  }

  &__flag-hit {
    position: absolute;
    top: 0;

    width: 61px;
    height: 61px;

    background: url("../img/bg-hit-tablet.svg") no-repeat 0 0;

    &::before {
      position: absolute;
      top: 3px;
      right: 27px;

      display: block;

      text-transform: uppercase;

      content: "хит";
      transform: rotate(-43deg);
    }
  }
}

@media (min-width: @tablet-width) {
  .app-variations {
    width: @tablet-width;
    margin: 0 auto;
    padding-top: 100px;

    &__table {
      width: 620px;
      margin: 0 auto;

      text-transform: none;
    }

    &__table-row-1 span {
      font-size: 18px;
    }

    td {
      min-width: 155px;
      padding: 10px 0;

      text-align: center;
    }
  }

  &__flag-hit {
    position: absolute;

    width: 74px;
    height: 73px;

    background: url("../img/bg-hit.svg") no-repeat 0 0;
  }
}

@media (min-width: @desktop-width) {
  .app-variations {
    width: auto;

    &__table {
      width: 940px;
    }

    & td {
      width: 235px;
    }
  }
}
