.article {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 17px;
}

.article__tag {
  position: absolute;
  right: 20px;

  width: 140px;
  padding: 5px 0;

  font-size: 12px;
  color: @white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  background-color: @pink;

  @media (min-width: @tablet-width) {
    top: 55px;
  }
}

.panorama {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
}

.panorama__info {
  width: 280px;
  margin: 0 auto;

  background-color: @gray;

  .box();
}

.panorama__image {
  width: 320px;
}

.article__image-wrapper {
  display: block;
  width: 280px;
  height: 180px;
}

.panorama__image-wrapper {
  position: relative;

  display: block;
  width: auto;
  height: 140px;
  margin: 0 auto;
}

.article__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px 15px 20px 20px;

  background-color: @gray;
}

.article__description {
  width: 241px;
  margin: 0;
  margin-bottom: 10px;

  line-height: 24px;
}

.article__like {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 130px;

  font-size: 12px;
  line-height: 24px;
  color: @pink;
  text-transform: uppercase;

  &-button {
    display: block;
    width: 14px;
    height: 14px;
    margin-right: 17px;
    padding: 0;

    cursor: pointer;
    border: none;
    background-color: #f2f2f2;
  }

  &-count {
    order: 1;
  }
}


.article__author-name {
  margin: 0;
  margin-right: 5px;

  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.article__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
  .article {
    width: 300px;
    height: 455px;
    margin: 0;
    margin-bottom: 20px;
  }

  .article__like {
    justify-content: space-between;
    width: 245px;
    padding-left: 0;

    order: 1;


    &-count {
      order: 0;
    }

    &-button {
      margin-right: 0;
    }
  }

  .article__description {
    width: 240px;
  }

  .article__info {
    height: 157px;
    padding-left: 27px;

    .box();
  }

  .panorama .article__like {
    width: 125px;
    margin: 0;
    margin-left: auto;

    &::before {
      top: 5px;
      left: 105px;
    }
  }

  .article__image-wrapper {
    width: 300px;
    height: 300px;
  }

  .panorama__image-wrapper {
    width: 660px;
    height: 510px;
  }

  .panorama {
    width: 660px;
    min-height: 630px;
    margin: 0 auto;
    margin-bottom: 50px;

    &::before {
      top: 60px;
      right: 33px;
    }
  }

  .panorama__image {
    width: auto;
    height: 510px;
    margin: 0 auto;
  }

  .panorama__info {
    width: @tablet-c;
    height: 120px;
    padding: 25px;
  }

  .panorama__description {
    width: 515px;

    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .article {
    width: 300px;
    height: 555px;
    margin-bottom: 55px;
  }

  .article__image-wrapper {
    width: 300px;
    height: 400px;
  }

  .panorama {
    position: static;

    width: auto;
    min-height: 602px;

    &::before {
      top: 55px;
      right: 70px;
    }

    &__info {
      height: 95px;
    }
  }

  .panorama__image-wrapper {
    width: auto;
    height: 510px;
  }

  .panorama .article__info {
    width: @desktop-c;
  }

  .panorama__description {
    width: 880px;
  }
}
