.article {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.panorama {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;

  &::before {
    position: absolute;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;

    font-size: 12px;
    color: @white;
    font-weight: bold;
    text-transform: uppercase;

    content: "Панорама дня";
    background-color: @pink;
  }
}

.panorama__info {
  width: 280px;
  margin: 0 auto;

  background-color: @gray;

  .box();
}

.panorama__image {
  width: 320px;
}

.article__image-wrapper {
  display: block;
  width: 280px;
  height: 180px;
}

.panorama__image-wrapper {
  display: block;
  width: auto;
  height: 140px;
  margin: 0 auto;
}

.article__info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  background-color: @gray;
}

.article__description {
  width: 240px;
  margin: 0;
  margin-bottom: 5px;

  line-height: 24px;
}

.article__like {
  width: 125px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  font-size: 12px;
  line-height: 24px;
  color: @pink;
  text-transform: uppercase;

  &-button {
    border: none;
    width: 14px;
    height: 14px;
    display: block;
    margin-right: 17px;
    background: url("../img/icon-heart.svg") no-repeat 0 0;
    cursor: pointer;
  }

  &-count {
    order: 1;
  }
}


.article__author-name {
  margin: 0;
  margin-right: 5px;

  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.article__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
  .article {
    width: 300px;
    height: 455px;
    margin: 0;
    margin-bottom: 20px;
  }

  .article__like {
    width: 245px;
    justify-content: space-between;

    &-count {
      order: 0;
    }

    &-button {
      margin-right: 0;
    }
  }

  .article__description {
    width: 240px;
  }

  .article__info {
    min-height: 157px;
    padding-left: 27px;

    .box();
  }

  .panorama .article__like {
    width: 125px;
    margin: 0;
    margin-left: auto;

    &::before {
      left: 105px;
      top: 5px;
    }
  }

  .article__like {
    padding-left: 0;
    order: 1;
  }

  .article__image-wrapper {
    width: 300px;
    height: 300px;
  }

  .panorama__image-wrapper {
    width: 660px;
    height: 510px;
  }

  .panorama {
    width: 660px;
    min-height: 630px;
    margin: 0 auto;
    margin-bottom: 50px;

    &::before {
      top: 60px;
      right: 33px;
    }
  }

  .panorama__image {
    width: auto;
    height: 510px;
    margin: 0 auto;
  }

  .panorama__info {
    width: @tablet-c;
    min-height: 120px;
    margin: 0 auto;
    padding: 20px;
  }

  .panorama__description {
    width: 515px;

    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .article {
    width: 300px;
    height: 555px;
    margin-bottom: 55px;
  }

  .article__image-wrapper {
    width: 300px;
    height: 400px;
  }

  .panorama {
    width: auto;
    min-height: 602px;

    &::before {
      top: 55px;
      right: 70px;
    }

    &__info {
      min-height: 95px;
    }
  }

  .panorama__image-wrapper {
    width: auto;
    height: 510px;
  }

  .panorama .article__info {
    width: @desktop-c;
  }

  .panorama__description {
    width: 880px;
  }
}
