.fieldset ul {
  .list-prevent();
}

.fieldset input::placeholder,
.fieldset textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  color: @navy;
}

.fieldset input::-moz-placeholder,
.fieldset textarea::-moz-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  color: @navy;

  opacity: 1;
}

.fieldset input:-ms-input-placeholder,
.fieldset textarea:-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  color: @navy;
}

.contest-form {
  &__item {
    & input[type="checkbox"],
    & input[type="radio"] {
      display: none;
    }
  }

  &__label {
    display: block;
    padding-left: 20px;

    font-size: 14px;
    line-height: 30px;
    color: @pink;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      padding-left: 0;
    }

    &_navy {
      padding-left: 85px;

      font-size: 18px;
      color: @navy;
      text-transform: none;

      @media (min-width: @tablet-width) {
        padding-left: 95px;
      }

      @media (min-width: @desktop-width) {
        padding-left: 58px;
      }
    }
  }

  &__input {
    width: 280px;
    padding: 20px;

    font-size: 18px;

    border: 2px solid #e5e5e5;
    outline: none;

    .box();

    &:hover {
      border-color: @navy;
    }

    &:focus {
      border-color: @pink;
    }
  }


  &__legend {
    padding: 20px;

    font-size: 14px;
    line-height: 18px;
    color: @pink;
    text-align: center;
    text-transform: uppercase;

    background-color: inherit;
  }

  &__description {
    width: 320px;
    margin: 0 auto;
    padding: 40px 20px;

    text-align: center;

    .box();

    & span {
      display: none;
    }


    @media (min-width: @tablet-width) {
      width: 490px;
      padding: 90px 0 70px 0;

      font-size: 18px;

      & span {
        display: inline-block;
      }
    }

    @media (min-width: @desktop-width) {
      width: 755px;
      padding-bottom: 75px;
    }
  }


  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: @tablet-width) {
      width: @tablet-c;
    }

    @media (min-width: @desktop-width) {
      justify-content: space-between;
      width: @desktop-c;
      padding: 0 10px;
    }
  }

  &__personal-information {
    padding: 0;

    border: none;

    order: 0;

    @media (min-width: @tablet-width) {
      width: 620px;

      order: 0;
    }

    @media (min-width: @desktop-width) {
      width: 435px;
      margin-top: 15px;
      padding: 0;
    }

    & .contest-form__item {
      width: 280px;
      margin: 0 auto;
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 45px;
      }

      @media (min-width: @tablet-width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin-bottom: 50px;
      }
    }

    & .contest-form__label {
      @media (min-width: @tablet-width) {
        padding-right: 15px;
      }

      @media (min-width: @desktop-width) {
        padding-right: 20px;
        padding-left: 15px;
      }
    }

    & .contest-form__input {
      @media (min-width: @tablet-width) {
        flex-grow: 2;
      }
    }
  }

  &__achievement {
    padding: 0;

    border: none;
    background-color: @gray;

    order: 0;

    & .contest-form__item {
      margin-bottom: 50px;
    }

    @media (min-width: @tablet-width) {
      width: 620px;
      margin-bottom: 40px;
      padding: 0 20px;

      border: solid @gray 2px;
      background-color: @white;

      order: 3;

      & .contest-form__legend {
        margin-bottom: 30px;
      }
    }

    @media (min-width: @desktop-width) {
      width: @desktop-c;
      padding: 0 20px;

      & .contest-form__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      & .contest-form__item {
        width: 260px;

        text-align: left;
      }
    }
  }

  &__contact-information {
    padding: 0;

    border: none;

    order: 0;

    & .contest-form__list {
      padding-top: 35px;
      padding-bottom: 25px;
    }

    & legend {
      display: none;
    }

    @media (min-width: @tablet-width) {
      width: 620px;
      margin-bottom: 40px;
      padding: 0 20px;

      border: 2px solid @gray;

      order: 2;

      & legend {
        display: block;
        margin-bottom: 15px;
      }

      & .contest-form__list {
        margin-bottom: 13px;
        padding-top: 0;
        padding-bottom: 10px;
      }

      & .contest-form__item {
        position: relative;

        &::after {
          position: absolute;
          right: 0;

          width: 63px;
          height: 63px;

          content: "";
          background-color: #e5e5e5;
          background-image: url("../img/icon-phone.svg");
          background-repeat: no-repeat;
          background-position: center;
        }

        &:nth-of-type(2)::after {
          background-image: url("../img/icon-mail.svg");
        }
      }

      & .contest-form__label {
        width: 500px;
        padding-left: 20px;

        order: 2;
      }

      & .contest-form__input {
        position: relative;

        width: 500px;
        margin-bottom: 10px;

        order: 1;
      }
    }

    @media (min-width: @desktop-width) {
      width: @desktop-c;
      padding: 0;


      & legend {
        margin-bottom: 25px;
        padding: 10px 30px;
      }

      & .contest-form__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 60px;
      }

      & .contest-form__item {
        width: 280px;
        margin: 0 auto;
        margin-bottom: 23px;

        @media (min-width: @tablet-width) {
          display: flex;
          flex-wrap: wrap;
          width: 500px;
        }

        @media (min-width: @desktop-width) {
          width: 375px;
          margin: 0;
        }
      }
    }
  }

  &__poll {
    margin-bottom: 30px;
    padding: 0;

    border: none;
    background-color: @gray;

    @media (min-width: @tablet-width) {
      width: 620px;
      margin-bottom: 50px;
      padding: 0 20px;

      border: 2px solid @gray;
      background-color: @white;

      order: 1;

      & .contest-form__legend {
        margin-bottom: 30px;
      }
    }

    @media (min-width: @desktop-width) {
      width: 431px;
      padding: 0;

      & .contest-form__legend {
        margin-bottom: 50px;
        padding: 0;
      }
    }

    & .contest-form__item {
      margin-bottom: 45px;
    }
  }

  &__review {
    display: flex;
    justify-content: center;
    width: 320px;
    padding: 0;

    border: none;

    & legend {
      padding-bottom: 15px;
    }

    & textarea {
      width: 280px;
      height: 200px;
      margin: 0 auto;
      margin-bottom: 45px;

      resize: none;
    }

    @media (min-width: @tablet-width) {
      width: 620px;
      margin-bottom: 80px;
      padding: 0 20px;

      border: 2px solid @gray;

      order: 3;

      & textarea {
        width: 500px;
        height: 190px;
      }

      & .contest-form__legend {
        margin-bottom: 20px;
      }
    }

    @media (min-width: @desktop-width) {
      width: @desktop-width;
      margin-bottom: 65px;

      & textarea {
        width: 820px;
        height: 125px;
      }
    }
  }
}

.contest-form__submit-required {
  display: flex;
  justify-content: space-between;
  width: @tablet-width;

  @media (min-width: @tablet-width) {
    align-content: center;
    margin-bottom: 90px;

    order: 4;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.submit {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 15px 48px;

  font-size: 18px;
  line-height: 30px;
  color: @white;
  text-transform: uppercase;

  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #2aab6d;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 15px 55px;

    font-weight: 600;

    &:hover {
      background-color: #1c9b5e;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.contest-form__required-fields {
  width: 180px;
  margin-bottom: 55px;

  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.contest-form__required-fields sup {
  color: @pink;
}
