.download-app {
  padding-top: 28px;
  padding-bottom: 30px;
  min-width: @mobile-c;
  min-height: 670px;
  position: relative;
}

.download-app__wrapper {
  min-height: 670px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.download-app__links {
  background-color: #1d2631;
  min-height: 270px;
}

.download-app__header {
  color: @white;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 400px;
}

.download-app__list {
  .list-prevent();
}

.download-app__description {
  color: @white;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .download-app__img {
    position: absolute;
  }

  .download-app__wrapper {
    width: @tablet-c;
    margin: 0 auto;
    min-height: 660px;
  }

  .download-app__links {
    background-color: rgba(0, 0, 0, 0);
    min-height: 320px;
  }

  .download-app__header {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .download-app__img {
    position: absolute;
  }

  .download-app__wrapper {
    width: @desktop-c;
    margin: 0 auto;
    min-height: 745px;
  }

  .download-app__links {
    background-color: rgba(0, 0, 0, 0);
    min-height: 510px;
  }

  .download-app__header {
    margin-bottom: 0;
  }
}
