.main-header {
  padding: 20px 0;
}

.main-header__container {
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  height: 71px;
}

@media (min-width: @tablet-width) {
  .main-header {
    min-height: 110px;
  }

  .main-header__logo {
    height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    min-height: 110px;
  }

  .main-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
  }
}
