.main-nav {
  width: 320px;
  min-height: 255px;
  margin: 0 auto;
}

.main-nav__item {
  background-color: @navy;
}

.main-nav__item a {
  font-size: 18px;
  line-height: 32px;
  color: @white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    min-height: 255px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    min-height: 110px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 620px;
  }

  .main-nav__toggle {
    display: none;
  }
}
