.main-nav__item {
  background-color: @navy;
}

.main-nav__item a {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.background-header {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 0 0;
  margin: 0;
}
