.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    position: relative;

    display: block;
    width: @tablet-c;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 115px;

    background-color: @white;
  }

  .research::before {
    position: absolute;
    top: 12px;

    width: 240px;
    height: 280px;

    content: "";
    opacity: 0.15;
    background: url("../img/icon-timer.svg") no-repeat 0 0;
    background-size: 240px 280px;
  }

  .research::after {
    position: absolute;
    top: 70px;
    left: 20px;

    padding: 72px 31px;

    font-size: 96px;
    color: @pink;
    font-weight: 700;

    content: "24";
    border: solid 14px @pink;
    border-radius: 50%;
  }


  .research__container {
    width: 320px;
    margin-left: auto;
  }

  .research__heading {
    width: 175px;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 5px;

    font-size: 30px;
    line-height: 36px;
    color: @black;
  }

  .research__paragraph {
    width: 300px;
    margin: 0;
    margin-bottom: 10px;

    line-height: 24px;

    & br {
      display: none;
    }
  }

  .research__link {
    color: @pink;
  }
}

@media (min-width: @desktop-width) {
  .research {
    display: block;
    width: @desktop-c;
    margin: 0 auto;
    padding-top: 90px;

    background-color: @gray;
  }

  .research::before {
    top: 0;

    width: 300px;
    height: 350px;

    background-size: 300px 350px;
  }

  .research::after {
    top: 75px;
    left: 22px;

    padding: 90px 40px;

    font-size: 120px;

    border: 18px solid @pink;
  }


  .research__container {
    width: 560px;
    margin-left: auto;
  }

  .research__paragraph {
    width: 533px;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }

  .research__heading {
    width: 315px;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }
}
