.reviews {
  position: relative;

  width: @mobile-c;
  margin: 0 auto;
  padding-top: 35px;

  background-color: @white;


  &__list {
    margin: 0 auto;
    padding: 0;

    list-style: none;
  }

  &__item {
    text-align: center;
  }

  &__author-name {
    margin: 0;
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
  }

  &__author-info {
    display: none;
  }

  &__review-text {
    margin: 0;
    margin-bottom: 25px;
    padding: 0 20px;

    font-size: 14px;
    line-height: 30px;
    color: @navy;
  }

  &-buttons {
    width: 65px;
    margin: 0 auto;
  }

  &-buttons__item {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    padding: 0;

    cursor: pointer;
    border: solid 3px @white;
    border-radius: 50%;
    background-color: #dadddf;

    &:last-of-type {
      margin-right: 0;
    }

    &--active {
      width: 12px;
      height: 12px;

      border: solid 3px @navy;
      background-color: @white;
    }

    &-last,
    &-next {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    width: @tablet-width;
    padding-top: 5px;

    &__list {
      width: 620px;
    }

    &__review-text {
      width: 620px;
      margin-bottom: 30px;
      padding: 0;

      font-size: 18px;

      order: 0;
    }

    &__author-name {
      width: 620px;
      margin-bottom: 5px;

      font-size: 20px;

      order: 1;
    }

    &__author-info {
      display: block;
      width: 620px;
      margin-bottom: 25px;

      order: 1;
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: @desktop-width;
    padding-top: 190px;

    background: url("../img/icon-quotes.svg") no-repeat center 50px;

    &__list {
      width: 690px;
    }

    &__author-name {
      font-size: 24px;
    }

    &__review-text {
      width: 690px;
    }

    &-buttons {
      position: absolute;
      top: 200px;

      width: 940px;
      height: 40px;
      margin: 0;

      cursor: pointer;

      &__item {
        display: none;
      }

      &__item-last {
        position: absolute;
        left: 0;

        display: block;
        width: 40px;
        height: 45px;
        margin: 0;
        padding: 0;

        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);

        &:hover {
          &::before,
          &::after {
            opacity: 1;
          }
        }

        &:active {
          &::before,
          &::after {
            opacity: 0.1;
          }
        }

        &::before {
          position: absolute;
          bottom: 10px;
          left: 0;

          width: 30px;
          height: 2px;

          content: "";
          transform: rotate(45deg);
          opacity: 0.3;
          background-color: #7e868f;
        }

        &::after {
          position: absolute;
          top: 13px;
          left: 0;

          width: 30px;
          height: 2px;

          content: "";
          transform: rotate(-45deg);
          opacity: 0.3;
          background-color: #7e868f;
        }
      }

      &__item-next {
        position: absolute;
        right: 0;

        display: block;
        width: 40px;
        height: 45px;
        margin: 0;
        padding: 0;

        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);

        &:hover,
        &:focus {
          &::before,
          &::after {
            opacity: 1;
          }
        }

        &:active {
          &::before,
          &::after {
            opacity: 0.1;
          }
        }

        &::before {
          position: absolute;
          bottom: 10px;
          left: 0;

          width: 30px;
          height: 2px;

          content: "";
          transform: rotate(-45deg);
          opacity: 0.3;
          background-color: #7e868f;
        }

        &::after {
          position: absolute;
          top: 13px;
          left: 0;

          width: 30px;
          height: 2px;

          content: "";
          transform: rotate(45deg);
          opacity: 0.3;
          background-color: #7e868f;
        }
      }
    }
  }
}
