.users-pics__description {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px 20px;
}

.users-pics__list {
  display: flex;
  flex-direction: column;

  .list-prevent();
}

@media (min-width: @tablet-width) {
  .users-pics__description {
    width: @tablet-c;
    margin: 0 auto;
  }

  .users-pics__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: @tablet-c;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .users-pics__description {
    width: @desktop-c;
    margin: 0 auto;
  }

  .users-pics__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: @desktop-c;
    margin: 0 auto;
  }
}
