.users-pics__description {
  width: 240px;
  margin: 0 auto;
  padding: 45px 0;

  text-align: center;
}

.users-pics__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.users-pics__motto {
  width: 280px;
  margin: 0 auto;
  padding: 30px 0 45px 0;

  text-align: center;
}

.users-pics .background-header__text {
  width: 175px;
}

@media (min-width: @tablet-width) {
  .users-pics__description {
    width: 450px;
    padding: 95px 0 75px 0;

    font-size: 18px;
  }

  .users-pics .background-header__text {
    width: 370px;
    margin-top: 50px;
  }

  .users-pics__list {
    flex-direction: row;
    justify-content: space-between;
    width: @tablet-c;
  }

  .users-pics__motto {
    width: 425px;
    padding: 45px 0 70px 0;

    font-size: 18px;
  }
}


@media (min-width: @desktop-width) {
  .users-pics__description {
    width: 580px;
    padding: 90px 0 90px 0;
  }

  .users-pics__list {
    width: @desktop-c;
  }

  .users-pics__motto {
    padding: 0 0 70px 0;
  }

  .users-pics .background-header__text {
    width: 375px;
    margin-top: 100px;
  }
}
